.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background color for the track */
  border-radius: 8px; /* Rounded corners */
}

/* Scrollbar handle (thumb) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Color of the scrollbar handle */
  border-radius: 8px;
  border: 2px solid #1a1a1a; /* Add border around the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #145175; /* Change color on hover */
}
