/* Tùy chỉnh thanh cuộn */
.custom-scrollbar {
  scrollbar-width: thin; /* Thanh cuộn nhỏ */
  scrollbar-color: #6b7280 #f3f4f6; /* Màu thanh cuộn: thumb và track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Độ rộng của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Màu của thumb */
  border-radius: 10px; /* Bo tròn */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Màu nền */
}
